include clutter
doctype html
head
    // Meta tags
    meta(charset="utf-8")
    title Al William Tammsaar
    meta(name="description" content="Al William Tammsaar is a computer scientist using data to better understand people and shape behavior." +
    "He is currently living in Denmark and studying at University of Copenhagen")
    meta(name="author" content="Al William Tammsaar")
    +favicons
    meta(name="theme-color" content="#ffffff ")
    // Mobile specific meta
    meta(name="viewport" content="width=device-width, initial-scale=1")
    // Stylesheets
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(href="./css/normalize.css" rel="stylesheet")
    link(href="./css/skeleton.css" rel="stylesheet")
    link(href="./css/style.css" rel="stylesheet")
    // Fonts and analytics (located in clutter.pug)
    +analytics
    +fonts

body.landing
    .content
        .signature
            .signature-container
                .header.top Hi, my name is
                img.awticonsig(src="./images/awticonsig.svg" alt="Al William Tammsaar")
                .header.bot I make digital products
                .cf
        .about-me
            .panel.panel-image
                img(src="./images/awtcrop.jpg")
            h3 About
            p I'm an Estonian Computer Scientist currently pursuing a
                |  Master's degree at University of Copenhagen.
                | Specializing in a mix of Human-Computer Interaction and Machine Learning.
                | My goal is to find valuable ways to combine the two.
            p I've worked with small early-stage start-ups and considerable e-commerce solutions
                |  serving tens of thousands of people a day.
                | An overview of my work history is available on
                a(href="https://www.linkedin.com/in/al-william-tammsaar-247042102") &nbsp;LinkedIn
                | .
            h3 Contact
            p If you would like to get in contact, the best way to do that would be to add me on
                a(href="https://www.linkedin.com/in/al-william-tammsaar-247042102") &nbsp;Linkedin&nbsp;
                | or
                a(href="https://www.facebook.com/al.tammsaar") &nbsp;Facebook.&nbsp;
                | I can always find time to go out for a cup of tea with you. :)
            footer
                .socials
                    a.fa.fa-github(href="https://github.com/Rezonation")
                    | &nbsp;|&nbsp;
                    a.fa.fa-linkedin(href="https://www.linkedin.com/in/al-william-tammsaar-247042102")
                    | &nbsp;|&nbsp;
                    a.fa.fa-facebook(href="https://www.facebook.com/al.tammsaar")
                    | &nbsp;|&nbsp;
                    a.fa.fa-medium(href="https://medium.com/@rezonance")
                    | &nbsp;|&nbsp;
                    a.fa.fa-twitter(href="https://twitter.com/AWTammsaar")
                p © Al William Tammsaar 2017